.homeLink {
    text-decoration: none;
    color: #fff;
}

.menuBarLink {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}

.menuBarLink:hover {
    text-decoration: underline;
}

.header {
    width: 100%;
    padding: 50px 0;
    background: #212121;
    color: #fff;
    text-align: center;
    justify-content: center;
}
