.homeLink {
    text-decoration: none;
    color: #fff;
}

.menuBarLink {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}

.menuBarLink:hover {
    text-decoration: underline;
}


